In [1]:
# PROJECT IDEA(S)
# take ~10000 known fake
# take ~10000 known real
# combine and take ~25% to put in holdout set - do not use to model - use as verifier of model
# feature extraction - 
# can have 10 different metrics for exclamation marks: 
# total number of exclamation marks per 

# look at number of key words: "outrageous", "strong words"
# Q: how strong is the strongest word
# unique word count - word frequency
# columns: fake / not fake, trustworthiness of source, strength of strongest word found in given article

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter
from textblob import TextBlob

import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

from scipy import stats
import statsmodels.api as sm
from scipy.stats import ttest_ind
from matplotlib import rcParams

fake_df = pd.DataFrame.from_csv("fake.csv")
real_df = pd.DataFrame.from_csv("../uci-news-aggregator.csv")

fake_num_rows = fake_df.shape
print(fake_num_rows)

real_num_rows = real_df.shape
print(real_num_rows)

# df.head(100)
# print(df.dtypes)

(12999, 19)
(422419, 7)

In [3]:
real_df = real_df.head(12999)
# print(real_df)

In [4]:
counts_by_type = fake_df['type'].value_counts()
print(counts_by_type)

bs            11492
bias            443
conspiracy      430
hate            246
satire          146
state           121
junksci         102
fake             19
Name: type, dtype: int64

In [5]:
counts_by_url = fake_df['main_img_url'].value_counts()
# print(counts_by_url)

In [6]:
# print(fake_df['spam_score'])

In [7]:
counts_by_url = fake_df['site_url'].value_counts()
# print(counts_by_url)

In [8]:
counts_of_spam = fake_df['spam_score'].value_counts()
# print(counts_of_spam)

In [9]:
col_names = fake_df.columns.tolist()
# print(col_names)

In [10]:
counts_by_replies = fake_df['replies_count'].value_counts()
# print(counts_by_replies)

In [11]:
counts_by_author = fake_df['author'].value_counts()
# print(counts_by_author)

In [12]:
counts_by_domain_rank = fake_df['domain_rank'].value_counts()
# print(counts_by_domain_rank)

In [13]:
# PROJECT IDEA(S)
# take ~10000 known fake
# take ~10000 known real
# combine and take ~25% to put in holdout set - do not use to model - use as verifier of model
# feature extraction - 
# can have 10 different metrics for exclamation marks: 
# total number of exclamation marks per 
# 
# look at number of key words: "outrageous", "strong words"
# Q: how strong is the strongest word
# unique word count - word frequency
# columns: fake / not fake, trustworthiness of source, strength of strongest word found in given article

In [14]:
# create new "id" column in df 
# reorder column names, setting "id" as first column and delete "uuid" col 
fake_df['id'] = range(1, len(fake_df) + 1)
fake_df = fake_df.set_index('id')
fake_df = fake_df[['site_url', 'domain_rank', 'author', 'published', 'title', 'thread_title', 'text', 'ord_in_thread', 'crawled', 'country', 'language', 'spam_score', 'main_img_url', 'replies_count', 'participants_count', 'likes', 'comments', 'shares', 'type']]
print(fake_df.shape)

(12999, 19)

In [15]:
# count ratio of number of exclamation marks to words in the given string
def count_ratio_exclams(string):
    exclam = '!'
    space = " "
    num_exclams = string.count(exclam)
    num_spaces = string.count(space)
    if num_spaces == 0:
        return num_exclams
    else:
        return num_exclams / num_spaces

In [16]:
# compute the ratio of exclams to question marks + periods in the given string
def exclam_ratio_text_body(string):
    exclam = '!'
    period = '.'
    question = '?'
    num_exclams = string.count(exclam)
    num_period = string.count(period)
    num_question = string.count(question)
    if num_period + num_question == 0:
        return num_exclams
    return num_exclams / (num_period + num_question)

In [17]:
# create new empty column for ratio_exclam_in_title
fake_df.assign(ratio_exclam_in_title=0)
  
# REMOVE ROWS THAT HAVE NAN thread_title

fake_df = fake_df[fake_df['thread_title'].notnull()]
print(len(fake_df))

# correct id labels
fake_df['id'] = range(1, len(fake_df) + 1)
fake_df = fake_df.set_index('id')

for i in range(1, len(fake_df) + 1):
    thread_title = fake_df.loc[i, 'thread_title']
    count = count_ratio_exclams(thread_title)
    fake_df.set_value(i, 'ratio_exclam_in_title', count)

# counts_by_title_exclams = fake_df.total_exclam_in_title.value_counts()
# print(counts_by_title_exclams)

12987

In [18]:
# create new empty column for total_exclam_in_text count
fake_df.assign(ratio_exclam_in_text_body=0)
  
# REMOVE ROWS THAT HAVE NAN thread_title
fake_df = fake_df[fake_df['text'].notnull()]
print(len(fake_df))

# correct id labels
fake_df['id'] = range(1, len(fake_df) + 1)
fake_df = fake_df.set_index('id')

for i in range(1, len(fake_df) + 1):
    text = fake_df.loc[i, 'text']
    count = exclam_ratio_text_body(text)
    fake_df.set_value(i, 'ratio_exclam_in_text_body', count)

ratio_in_text_body = fake_df.ratio_exclam_in_text_body.value_counts()
# print(ratio_in_text_body)

12941

In [19]:
# create new empty column for ratio_exclams_in_text count
fake_df.assign(ratio_exclams_in_text=0)

# compute the ratio of exclamation marks to other sentence terminating punctionation
# and store in column "ratio_exclams_in_text"
for i in range(1, len(fake_df) + 1):
    text = fake_df.loc[i, 'text']
    count = exclam_ratio_text_body(text)
    fake_df.set_value(i, 'ratio_exclams_in_text_body', count)

counts_ratio_exclams = fake_df.ratio_exclams_in_text.value_counts()
# print(counts_ratio_exclams)

In [21]:
# create new empty column for ratio_exclam_in_title count
real_df.assign(ratio_exclam_in_title=0)

# compute the ratio of exclamation marks to other sentence terminating punctionation
# and store in column "ratio_exclam_in_title"
for i in range(1, len(real_df) + 1):
    thread_title = real_df.loc[i, 'TITLE']
    count = count_ratio_exclams(thread_title)
    real_df.set_value(i, 'ratio_exclam_in_title', count)

counts_ratio_exclams = real_df.ratio_exclam_in_title.value_counts()
print(counts_ratio_exclams)

0.000000    12670
0.125000       41
0.111111       38
0.142857       36
0.090909       35
0.100000       31
0.166667       29
0.200000       25
0.076923       22
0.083333       20
0.071429       17
0.066667       11
0.250000        9
0.153846        3
0.333333        3
0.222222        2
0.058824        2
0.285714        2
0.500000        1
0.300000        1
0.052632        1
Name: ratio_exclam_in_title, dtype: int64

In [22]:
# create series of total exclamation counts in each row's title
# for index, row in df.iterrows():
#     count = count_total_exclamation(row.title)
#     print(count)
#     df.loc[:,'total_crime'] = df.apply(get_total_crime, axis=1)
#     df.loc[index, row.total_exclam_in_title] = count


# df.loc[:, 'total_exclam_in_title'] = df.apply(count_total_exclams, axis=1)    
# count_title_exclams = df['total_exclam_in_title'].value_counts()
# print(count_title_exclams)

In [23]:
# make  copy of the fake_df containing only the thread_title & site_url
sub_fake_df = fake_df[['thread_title', 'site_url', 'ratio_exclam_in_title']].copy()

# replace all carriage returns and tabs with spaces
for i in range(1, len(sub_fake_df) + 1):
    title = sub_fake_df.loc[i, 'thread_title']
    title = title.split("\n")
    title = " ".join(title)
    title = title.split("\t")
    title = " ".join(title)
    sub_fake_df.set_value(i, 'thread_title', title)

# replace all carriage returns and tabs with spaces    
for i in range(1, len(sub_fake_df) + 1):
    url = sub_fake_df.loc[i, 'site_url']
    url = url.split("\n")
    url = " ".join(url)
    url = url.split("\t")
    url = " ".join(url)
    sub_fake_df.set_value(i, 'site_url', url)

# turn all tabs into spaces
# x = "The bananas are yellow and green"
# x = x.split(" ")
# print(x)
# x = "+".join(x)
# print(x)

In [24]:
sub_real_df = real_df[['TITLE', 'URL', 'ratio_exclam_in_title']].copy()
sub_real_df = sub_real_df.head(12941)

# correct id labels
sub_real_df['id'] = range(1, len(sub_real_df) + 1)
sub_real_df = sub_real_df.set_index('id')

# replace all carriage returns and tabs with spaces
for i in range(1, len(sub_real_df) + 1):
    title = sub_real_df.loc[i, 'TITLE']
    title = title.split("\n")
    title = " ".join(title)
    title = title.split("\t")
    title = " ".join(title)
    sub_real_df.set_value(i, 'TITLE', title)

# replace all carriage returns and tabs with spaces    
for i in range(1, len(sub_real_df) + 1):
    url = sub_real_df.loc[i, 'URL']
    url = url.split("\n")
    url = " ".join(url)
    url = url.split("\t")
    url = " ".join(url)
    sub_real_df.set_value(i, 'URL', url)

In [25]:
# create new column, 'TARGET' with 1 fake and 0 for real
sub_fake_df['TARGET'] = 1
sub_fake_df = sub_fake_df.rename(columns = {'thread_title':'TITLE', 'site_url':'URL'})
sub_real_df['TARGET'] = 0

# combine the two dataframes
combined_df = sub_fake_df.append(sub_real_df)

# reorder the id index of the combined_df set
# correct id labels
combined_df['id'] = range(1, len(combined_df) + 1)
combined_df = combined_df.set_index('id')
print(combined_df)

                                                   TITLE  \
id
1      Muslims BUSTED: They Stole Millions In Gov’t B...
2      Re: Why Did Attorney General Loretta Lynch Ple...
3      BREAKING: Weiner Cooperating With FBI On Hilla...
4      PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...
5      FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...
6      Hillary Goes Absolutely Berserk On Protester A...
7      BREAKING! NYPD Ready To Make Arrests In Weiner...
8      WOW! WHISTLEBLOWER TELLS CHILLING STORY Of Mas...
9      BREAKING: CLINTON CLEARED...Was This A Coordin...
10     EVIL HILLARY SUPPORTERS Yell "F*ck Trump"…Burn...
11     YIKES! HILLARY GOES OFF THE RAILS…Pulls A Howa...
12     SAY GOODBYE! These 23 Hollywood Celebs Threate...
13     NOT KIDDING: Colleges Give Students “Safe Spac...
14     BOOM! MATH SHOWS Trump Would Have Beaten Obama...
15     BOOM! This Is How President Reagan Handled Pro...
16     TRUMP SUPPORTER GOT NUTS On MSNBC Reporter Cov...
17     TOMI LAHREN Has Special Message For Celebritie...
18     #BoycottComedian…ROBERT DENIRO Wanted “To Punc...
19     HE’S NEVER SOLD AN ORIGINAL PAINTING UNTIL NOW...
20     SORRY LIBERALS…You Can Stop With The Petitions...
21     MARK CUBAN: "In The Event Donald Wins, I Have ...
22     TRUMP SUPPORTER Whose Brutal Beating By Black ...
23     WOW! WHITE Liberals Suggest Blacks Are Too Stu...
24     LOL! BRITISH WIFE Of LIB ACTOR Who Said: “Ther...
25     EPIC! TUCKER CARLSON Demolishes NYC Councilman...
26     FUNNY! SNL’S SOLUTION To Democrat Election Den...
27     DONALD TRUMP Calls Meeting With Press…Dresses ...
28     OOPS! CRYBABY HAMILTON STARS Who Lectured Penc...
29     WHITE TRUMP-BASHING LIB Reprimanded On LIVE CN...
30         BOOM! Kellyanne Conway Shuts Down CNN’s Cuomo
...                                                  ...
25853  US Navy SEALs board tanker hijacked in Libya -...
25854  UPDATE 2-US forces seize tanker carrying oil f...
25855  Norfolk-based destroyer to aid tanker seized b...
25856         US Navy SEALs board rogue Libya oil tanker
25857          U.S. forces seize control of rogue tanker
25858            US Navy SEALs seize fugitive oil tanker
25859  US Navy SEALs board tanker carrying oil from L...
25860  Shades of 'Captain Phillips': Navy SEALS retak...
25861      US Seals take control of rogue Libya oil ship
25862  US Navy SEALs seize stolen Libyan oil tanker h...
25863  Navy SEALs board and take control of oil tanke...
25864  US Special forces take control of rogue Libya ...
25865        Navy SEALs seize control of hijacked tanker
25866  US forces seize tanker carrying oil from Libya...
25867  US Navy Seals take control of rogue Libya oil ...
25868  US Seals take control of rogue Libya oil ship:...
25869  Navy SEALs board mystery tanker Morning Glory ...
25870  US Navy Seals retake hijacked oil tanker off t...
25871   Cyprus: SEALs take oil tanker from Libyan rebels
25872        US Navy Seals seize North Korean oil tanker
25873            Navy Seals board rogue Libya oil tanker
25874  US Navy Seal Commandos Seize North Korea Oil T...
25875  Israeli pair questioned over Pyongyang-bound o...
25876  Navy SEALs Board Oil Tanker Stolen From Libyan...
25877  US Seals take control of rogue Libya ship: Pen...
25878     Navy SEALS take control of hijacked oil tanker
25879  Navy SEALs take control of hijacked Libyan oil...
25880  U.S. Navy SEALs take control of North Korean-f...
25881  Oil tanker heading back to Libya after capture...
25882             US Seals storm 'oil theft' Libyan ship

                                                     URL  \
id
1                                    100percentfedup.com
2                                    100percentfedup.com
3                                    100percentfedup.com
4                                    100percentfedup.com
5                                    100percentfedup.com
6                                    100percentfedup.com
7                                    100percentfedup.com
8                                    100percentfedup.com
9                                    100percentfedup.com
10                                   100percentfedup.com
11                                   100percentfedup.com
12                                   100percentfedup.com
13                                   100percentfedup.com
14                                   100percentfedup.com
15                                   100percentfedup.com
16                                   100percentfedup.com
17                                   100percentfedup.com
18                                   100percentfedup.com
19                                   100percentfedup.com
20                                   100percentfedup.com
21                                   100percentfedup.com
22                                   100percentfedup.com
23                                   100percentfedup.com
24                                   100percentfedup.com
25                                   100percentfedup.com
26                                   100percentfedup.com
27                                   100percentfedup.com
28                                   100percentfedup.com
29                                   100percentfedup.com
30                                   100percentfedup.com
...                                                  ...
25853  http://www.reuters.com/article/2014/03/17/usa-...
25854  http://www.reuters.com/article/2014/03/17/usa-...
25855  http://hamptonroads.com/2014/03/norfolkbased-d...
25856  http://www.aljazeera.com/news/africa/2014/03/u...
25857  http://www.ksdk.com/story/news/nation/2014/03/...
25858  http://www.latimes.com/world/worldnow/la-fg-wn...
25859  http://uk.reuters.com/article/2014/03/17/uk-us...
25860  http://www.arktimes.com/ArkansasBlog/archives/...
25861  http://www.ptinews.com/news/4509295_-US-Seals-...
25862  http://www.allvoices.com/contributed-news/1671...
25863  http://www.newser.com/article/a119b55666b54365...
25864  http://www.brisbanetimes.com.au/world/us-speci...
25865  http://www.abc17news.com/national-news/Navy-SE...
25866  http://www.worldbulletin.net/world/131244/us-f...
25867  http://news.yahoo.com/us-seals-control-rogue-l...
25868  http://www.ptinews.com/news/4509295_US-Seals-t...
25869  http://www.washingtonpost.com/news/morning-mix...
25870  http://www.rawstory.com/rs/2014/03/17/us-navy-...
25871  http://www.politico.com/story/2014/03/cyprus-n...
25872  http://voiceofrussia.com/news/2014_03_17/US-Na...
25873  http://blouinnews.com/78329/story/navy-seals-b...
25874  http://www.ibtimes.co.uk/us-navy-seal-commando...
25875  http://www.thestandard.com.hk/breaking_news_de...
25876  http://www.huffingtonpost.com/2014/03/17/navy-...
25877  http://www.ptinews.com/news/4509045_US-Seals-t...
25878  http://www.washingtontimes.com/news/2014/mar/1...
25879  http://wtkr.com/2014/03/17/navy-seals-take-con...
25880  http://www.dailymail.co.uk/news/article-258257...
25881  http://www.libyaherald.com/2014/03/17/oil-tank...
25882  http://www.upstreamonline.com/live/article1355...

       ratio_exclam_in_title  TARGET
id
1                   0.000000       1
2                   0.000000       1
3                   0.000000       1
4                   0.050000       1
5                   0.153846       1
6                   0.125000       1
7                   0.038462       1
8                   0.043478       1
9                   0.000000       1
10                  0.000000       1
11                  0.111111       1
12                  0.125000       1
13                  0.000000       1
14                  0.083333       1
15                  0.062500       1
16                  0.000000       1
17                  0.000000       1
18                  0.000000       1
19                  0.000000       1
20                  0.000000       1
21                  0.000000       1
22                  0.000000       1
23                  0.058824       1
24                  0.050000       1
25                  0.111111       1
26                  0.090909       1
27                  0.000000       1
28                  0.076923       1
29                  0.000000       1
30                  0.166667       1
...                      ...     ...
25853               0.000000       0
25854               0.000000       0
25855               0.000000       0
25856               0.000000       0
25857               0.000000       0
25858               0.000000       0
25859               0.000000       0
25860               0.000000       0
25861               0.000000       0
25862               0.000000       0
25863               0.000000       0
25864               0.000000       0
25865               0.000000       0
25866               0.000000       0
25867               0.000000       0
25868               0.000000       0
25869               0.000000       0
25870               0.000000       0
25871               0.000000       0
25872               0.000000       0
25873               0.000000       0
25874               0.000000       0
25875               0.000000       0
25876               0.000000       0
25877               0.000000       0
25878               0.000000       0
25879               0.000000       0
25880               0.000000       0
25881               0.000000       0
25882               0.000000       0

[25882 rows x 4 columns]

In [26]:
from sklearn.utils import shuffle
combined_df = shuffle(combined_df)

In [27]:
# convert combined_df into a new TAB DELIMITED csv
combined_df.to_csv("cleaned_combined_dataset.csv", sep="\t", index=False)

In [28]:
# create two sets of data: first is TRAINING SET: 75% OF DATA, 25% VALIDATOR via random num generator
sampler = np.random.rand(len(combined_df)) < 0.75
training_set = combined_df[sampler]
test_set = combined_df[~sampler]

#print(training_set)

In [29]:
training_set.to_csv("training_set.csv", sep='\t', index=False)
test_set.to_csv("holdout_set.csv", sep='\t', index=False)

In [30]:
# stem the "fake news" data
ps = PorterStemmer()
fake_blob = {} 
real_blob = {}
for i in range(len(training_set['TARGET'])):
    try:
        ss8 = str(training_set['TITLE'].iloc[i].encode('utf8'))
    except:
        ss8 = ""
    words = word_tokenize(ss8)
    x = set()
    for w in words:
        x.add(ps.stem(w).lower())

    # if this is a 'fake' row entry
    if training_set['TARGET'].iloc[i] == 1:
        for stword in x:
            if stword in fake_blob:
                fake_blob[stword] = fake_blob[stword] + 1
                #print(stword, " ", fake_blob[stword])
            else:
                fake_blob.setdefault(stword, 1)
                #print(stword," ", fake_blob[stword])
                
    # we found a 'real' row entry
    else:
        for stword in x:
            if stword in real_blob:
                real_blob[stword] = real_blob[stword] + 1
            else:
                real_blob.setdefault(stword, 1)
# print(fakeBlob)

In [31]:
# # stem the "real news" data    
# goodBlob = {}
# for i in range(len(sub_real_df['TITLE'])):
#     try:
#         ss8 = str(sub_real_df['TITLE'].iloc[i].encode('utf8'))
#     except:
#         pass
#     words = word_tokenize(ss8)
#     x = set()
#     for w in words:
#         x.add(ps.stem(w).lower())

#     for stword in x:
#         if stword in goodBlob:
#             goodBlob[stword] = goodBlob[stword] + 1
#             #print(stword, " ", goodBlob[stword])
#         else:
#             goodBlob.setdefault(stword,1)
#             #print(stword," ", goodBlob[stword])

In [32]:
riskdict = {}
for word in fake_blob:
    if word in real_blob:
        count = (fake_blob[word] + real_blob[word])
    else:
        count = fake_blob[word]
    if count >= 10:
        riskdict[word] = fake_blob[word] / count

for word in real_blob:
    if word not in fake_blob and real_blob[word] >= 10:
        riskdict[word] = 0

In [33]:
# add four columns to the results_df: fakeaggregate, goodaggregate, riskword, safeword
results_df = combined_df.copy()
results_df['fake_aggregate'] = 0
results_df['good_aggregate'] = 0
results_df['risk_word'] = 0
results_df['safe_word'] = 0

print(results_df.columns.tolist())

['TITLE', 'URL', 'ratio_exclam_in_title', 'TARGET', 'fake_aggregate', 'good_aggregate', 'risk_word', 'safe_word']

In [35]:
riskword = ""
for i in range(len(results_df['TITLE'])):
    fakeaggregate = 0
    goodaggregate = 0
    riskyword = 0
    safeword = 1
    try:
        ss8 = str(results_df['TITLE'].iloc[i].encode('utf8'))
    except:
        ss8 = ""
    words = word_tokenize(ss8)
    x = set()
    for w in words:
        x.add(ps.stem(w).lower())

    for stword in x:
        if stword in riskdict:
            if riskdict[stword] > riskyword:
                riskword = riskdict[stword]
            if riskdict[stword] < safeword:
                safeword = riskdict[stword]

        if stword in fake_blob:
            fakeaggregate = fake_blob[stword] + fakeaggregate

        if stword in real_blob:
            goodaggregate = real_blob[stword] + goodaggregate
    # update the results to results_df, training_df, test_df        
    results_df.set_value(i, 'fake_aggregate', fakeaggregate)
    results_df.set_value(i, 'good_aggregate', goodaggregate)
    results_df.set_value(i, 'risk_word', riskword)
    results_df.set_value(i, 'safe_word', safeword)
    
print(results_df.columns.tolist())

['TITLE', 'URL', 'ratio_exclam_in_title', 'TARGET', 'fake_aggregate', 'good_aggregate', 'risk_word', 'safe_word']

In [37]:
# create two sets of data: first is TRAINING SET: 75% OF DATA, 25% VALIDATOR via random num generator
sampler = np.random.rand(len(results_df)) < 0.75
new_training = results_df[sampler]
new_test = results_df[~sampler]

# new_training = new_training[['TITLE', 'TARGET', 'fake_aggregate', 'good_aggregate', 'risk_word', 'safe_word']]
new_training = new_training[['TARGET', 'ratio_exclam_in_title', 'fake_aggregate', 'good_aggregate', 'risk_word', 'safe_word']]
print(new_training)

holdout_title_features = new_test[['TITLE', 'TARGET', 'ratio_exclam_in_title', 'fake_aggregate', 'good_aggregate', 'risk_word', 'safe_word']]

new_training.to_csv("new_training.csv", sep='\t', index=False)
new_test.to_csv("new_holdout.csv", sep='\t', index=False)

holdout_title_features.to_csv("holdout_title_features.csv", sep='\t', index=False)

       TARGET  ratio_exclam_in_title  fake_aggregate  good_aggregate  \
id
18902     0.0               0.000000          9334.0          8483.0
6199      1.0               0.000000         13420.0         11418.0
25056     0.0               0.000000         13193.0         11461.0
1402      1.0               0.000000         12655.0          9865.0
12862     1.0               0.000000         14408.0         13514.0
5170      1.0               0.000000         11023.0          9637.0
15680     0.0               0.000000         14489.0         14328.0
12334     1.0               0.000000          9700.0          8794.0
8652      1.0               0.000000         12061.0          9550.0
23033     0.0               0.000000         15486.0         12330.0
6333      1.0               0.000000         15484.0         13054.0
9106      1.0               0.000000         14212.0         17755.0
11100     1.0               0.000000         13645.0         17026.0
13132     0.0               0.000000         10938.0         10220.0
1535      1.0               0.000000         14320.0         10806.0
23185     0.0               0.000000         12696.0         18008.0
17472     0.0               0.000000          9922.0          9092.0
9613      1.0               0.000000          9409.0          8343.0
3329      1.0               0.125000          9396.0          8482.0
24673     0.0               0.000000          6057.0         11929.0
23315     0.0               0.000000         12328.0         10471.0
8845      1.0               0.000000         11031.0          9995.0
4794      1.0               0.000000          6282.0         12226.0
4177      1.0               0.000000         11260.0          9512.0
25074     0.0               0.000000         17868.0         18972.0
17742     0.0               0.000000         15729.0         13361.0
12947     0.0               0.000000         16582.0         12601.0
13247     0.0               0.000000         13820.0         10987.0
19448     0.0               0.000000         11212.0         10099.0
12698     1.0               0.000000         16110.0         13479.0
...       ...                    ...             ...             ...
1443      1.0               0.000000         12002.0         10494.0
21301     0.0               0.000000         14119.0         11377.0
13472     0.0               0.000000          3678.0         10011.0
19966     0.0               0.000000          9339.0          8084.0
11567     1.0               0.000000         15460.0         12786.0
17460     0.0               0.000000         12225.0          9795.0
10001     1.0               0.000000         13920.0         10735.0
2378      1.0               0.000000         11341.0          9440.0
25284     0.0               0.000000         16686.0         13990.0
21682     0.0               0.000000          3594.0          9826.0
24440     0.0               0.000000         10470.0          9745.0
1919      1.0               0.000000         18473.0         19815.0
13899     0.0               0.000000         13723.0         11250.0
16130     0.0               0.111111         14309.0         12452.0
2943      1.0               0.000000         14503.0         18687.0
6330      1.0               0.000000         15389.0         11543.0
14436     0.0               0.000000         17554.0         12840.0
10891     1.0               0.000000         14607.0         12292.0
17671     0.0               0.000000         11381.0         11687.0
18608     0.0               0.000000         13011.0         10882.0
11893     1.0               0.000000         10616.0          9216.0
6622      1.0               0.000000         16223.0         13035.0
13698     0.0               0.000000         11846.0         10928.0
6198      1.0               0.000000         12993.0         10664.0
12572     1.0               0.000000          9788.0          8865.0
153       1.0               0.428571         10568.0          9572.0
9476      1.0               0.000000         18757.0         14063.0
25196     0.0               0.000000         15269.0         17775.0
12674     1.0               0.000000         15617.0         13457.0
0         NaN                    NaN         12774.0         16305.0

       risk_word  safe_word
id
18902   0.066667   0.057971
6199    0.333333   0.000000
25056   1.000000   0.458552
1402    0.741497   0.000000
12862   0.541667   0.000000
5170    0.547000   0.311258
15680   0.492230   0.043384
12334   0.118644   0.000000
8652    0.500000   0.428571
23033   0.500000   0.438596
6333    0.749004   0.181818
9106    0.357143   0.000000
11100   0.603774   0.173913
13132   0.357143   0.000000
1535    1.000000   0.448276
23185   0.716667   0.018519
17472   0.500442   0.000000
9613    0.294574   0.185185
3329    0.472050   0.000000
24673   0.043384   0.043384
23315   0.547000   0.343750
8845    0.492230   0.000000
4794    0.513410   0.000000
4177    0.602804   0.485251
25074   0.250000   0.000000
17742   0.736842   0.088235
12947   1.000000   0.472272
13247   0.733333   0.244604
19448   0.422819   0.144737
12698   0.749004   0.403846
...          ...        ...
1443    0.547000   0.000000
21301   0.842105   0.425434
13472   0.285714   0.000000
19966   0.534332   0.534332
11567   0.534332   0.458552
17460   0.246377   0.000000
10001   0.644444   0.150000
2378    0.773585   0.534332
25284   0.606061   0.265306
21682   0.264706   0.007407
24440   0.534332   0.000000
1919    0.656250   0.195715
13899   0.691964   0.534332
16130   0.547000   0.133333
2943    0.045455   0.045455
6330    1.000000   0.458552
14436   0.921569   0.534332
10891   0.529412   0.000000
17671   0.772727   0.000000
18608   1.000000   0.534332
11893   0.573529   0.379310
6622    0.547325   0.000000
13698   0.100000   0.000000
6198    0.505051   0.372549
12572   0.173913   0.022523
153     0.606838   0.275862
9476    1.000000   0.485251
25196   0.547000   0.018519
12674   0.547000   0.165289
0       0.534332   0.000000

[19356 rows x 6 columns]